<div id="main">
    <div class="bg">
    <div class="contai">

      <div id="over">
            <iframe src=""></iframe>
        </div>

      <div class="video"></div>


      <div class="profile">
        <div class="profile_pic"></div>
       <div id="username">User Name</div>
      </div>


      <!--<div class="content" id="speaker_prof">
        <div id="speaker"></div>
        <div id="speaker_name">Speaker</div>
        <p>Designation:<span>Chief Engineer</span></p>
      </div>

      <div class=" content" id="poll">
         <div id="question">Q1 Choose one of the four</div>
   			 <label for="q1a">
            <input type="radio" id="q1a" name="q1" value="A">
            Option1
          </label>
          <label for="q1b">
            <input type="radio" id="q1b" name="q1" value="B">
            Option2
          </label>
          <label for="q1c">
            <input type="radio" id="q1c" name="q1" value="C">
            Option3
          </label>
          <label for="q1d">
            <input type="radio" id="q1d" name="q1" value="D">
            Option4
          </label>
      </div>

      <div class="item content" id="QA">
        <input type="text" id="textbox" name="ans" value="" placeholder="Ask a question">
        <input id="submit" type="submit" value="Send">
      </div>-->

    <div class="content" id="chat">
       <div id="User">Username</div>
       <div id="msg">display_message</div>
       <div id="send_msg">
         <input type="textarea" placeholder="Send a message">
         <img src="Icons/icons8-email-send-60.png" alt="">
       </div>
     </div>



      <div class="footer">
       <a href=""><img src="../../assets/images/icon2/speaker's profile.png" alt=""></a>
       <a href=""><img src="../../assets/images/icon2/poll.png" alt="" ></a>
       <a href=""><img src="../../assets/images/icon2/chats.png" alt="" ></a>
       <a href=""><img src="../../assets/images/icon2/speaker_notes.png" alt=""></a>
       <a href=""><img src="../../assets/images/icon2/Ask a question.png" alt="" ></a>
       <a href=""><img src="../../assets/images/icon2/briefcase.png" alt=""></a>
       <a href=""><img src="../../assets/images/icon2/exit.png" alt=""></a>
      </div>

    </div>
  </div>
</div>