<div id="main">
  <div class="bg">

    <div class="contai">

      <div id="over">
        <iframe src=""></iframe>
      </div>

      <div class="video"></div>


      <div class="profile">
        <div class="profile_pic"></div>
        <div id="username">User Name</div>
      </div>


      <div class="content hid" id="speaker_prof">
        <div class="closebtn">×</div>
        <div id="speaker"></div>
        <div id="speaker_name">Speaker</div>
        <p>Designation:<span>Chief Engineer</span></p>
      </div>

      <div class=" content hid" id="poll">
         <div class="closebtn">×</div>
         <div id="question">Q1 Choose one of the four</div>
   			 <label for="q1a">
            <input type="radio" id="q1a" name="q1" value="A">
            Option1
          </label>
          <label for="q1b">
            <input type="radio" id="q1b" name="q1" value="B">
            Option2
          </label>
          <label for="q1c">
            <input type="radio" id="q1c" name="q1" value="C">
            Option3
          </label>
          <label for="q1d">
            <input type="radio" id="q1d" name="q1" value="D">
            Option4
          </label>
      </div>

      <div class="content hid" id="QA">
        <div class="closebtn">×</div>
        <input type="text" id="textbox" name="ans" value="" placeholder="Ask a question">
        <input id="submit" type="submit" value="Send">
      </div>>

      <div class="content hid" id="chat">
        <div class="closebtn">×</div>
        <div id="User">Username</div>
        <div id="msg">display_message</div>
        <div id="send_msg">
          <input type="textarea" placeholder="Send a message">
          <img src="../../assets/images/icon2/icons8-email-send-60.png" alt="" >
        </div>
      </div>

    </div>

  </div>
  <div class="navigation fixed-bottom">
    <div class="sp_bt"><img src="../../assets/images/icons/speaker's profile.png" alt=""></div>
    <div class="poll_bt"><img src="../../assets/images/icons/poll.png" alt=""></div>
    <div class="chat_bt"><img src="../../assets/images/icons/chats.png" alt=""></div>
    <div class="snotes_bt"><img src="../../assets/images/icons/speaker_notes.png" alt=""></div>
    <div class="faq_bt"><img src="../../assets/images/icons/Ask a question.png" alt=""></div>
    <div class="briefcase_bt"><img src="../../assets/images/icons/briefcase.png" alt=""></div>
    <div class="exit_bt"><img src="../../assets/images/icons/exit.png" alt=""></div>
  </div>
</div>

<div id="warning-message">
  This website is only viewable in landscape mode
</div>
