

/* general styling */
html,body{
    height: 100%;
    margin:0;

  }

  #main {

    background: url("../../assets/images/main_bg.jpg");
    background-position:center;
    //background-size: cover;
    background-size:100% 100%;
    color:#fff;
    position:relative;
    font-family: sans-serif;
  }

  header{
    padding:;
    font-size:2vmin;
    padding:5vh;

  }

  .container {
    width:100vw;
    height:100vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    //justify-content: center;

  }

  @media(min-height:600px){
    .container{
      justify-content: center;
    }
  }


  .container h1 {

    font-weight: bold;
    font-size:8vh;
    padding-bottom:3vh;
    color:#fff;
    //text-align: center;
    //margin:12px;
    text-shadow: 0 0 25px #14dade;

  }

  .centered-modal.in {
    display: flex !important;

}
.centered-modal .modal-dialog {
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}



  @media(min-height:800px){
    .container h1 {
        font-size: 8vh;

      }
  }


  .row{

    width:700px;
    margin-left: auto;
    margin-right: auto;
  }

  @media(max-width:800px){
    .row {
        width: 100%;
      }
  }

  .row div{

    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    background: rgba(20, 218, 222,0.5);
    border: 3px solid #14dade;
    //border-shadow:0 0 25px #14dade inset;
    border-radius: 10px;
    margin:2vh 20px;
    //padding: 10px;
    width:130px;
    //top:34vh;
    }

    @media(max-width:780px){
      .row div {
         font-size: 1.2em;
         width:100px;


        }
    }

    /*@media(max-height:700px){
      .row div {
         font-size: 1.2em;
         width:100px;

        }
    }*/


  .row div span {
    display: block;
    font-size: 4.5rem;
  }



  .last_bt{

    border-radius: 15px;
    color: #15f4ee;
    background-color: inherit;
    border:2px solid #fff;
    box-shadow: 0px 0px 10px  #15f4ee ;
    //text-shadow: 0px 0px 5px  #15f4ee;
    font-size: 25px;
    font-weight: 520;
    outline:none;
    padding:3px 10px;
    margin:20px 0;
  }

  @media(min-width:1100px){
    .last_bt{
      font-size: 30px;
  }
  }
  #agenda p{
    color:#fff;
    text-decoration: underline;
  }

  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
