<div id="main">


    <div class="container">
      <header><h1>Keep Your Soul on Fire</h1></header>
      <div><h1  class="text-center ">GOING L!VE IN</h1></div>
      <div class="row mx-auto">
       <div class="col-xs-3 mx-auto"><span id="days"></span>days</div>
       <div class="col-xs-3 mx-auto"><span id="hours"></span>Hours</div>
       <div class="col-xs-3 mx-auto"><span id="minutes"></span>Minutes</div>
       <div class="col-xs-3 mx-auto"><span id="seconds"></span>Seconds</div>
      </div>
    
      <div><button class="last_bt text-center">Get Started</button></div>
      <div ><a href="" id="agenda"><p>Agenda</p></a></div>
    </div>
    
    
    </div>
    
    