<div id="bg">
    <form action="/action_page.php" id="form-login">
      <div class="row">
        <div >
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" >
        </div>
      </div>
      <div class="row">
        <div>
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="mail" >
        </div>
      </div>
      <div class="row">
        <div>
          <label for="pwd">Password:</label>
          <input type="password" id="pwd" name="pwd" >
        </div>
      </div>
      <div class="row chk">
        <div>
          <input type="checkbox" id="agmt" name="agmt" >
          <label for="agmt" id="agree">&nbsp;I agree to the Terms & Conditions</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" (click)="login()">
      </div>
    </form>
    
  
<div id="footer" class="fixed-bottom">

</div>  

</div>