<div id="main">
   <div id="bg">

    <div class="container">
      <header><h1>Title goes here</h1></header>
      <div><h1  class="text-center ">GOING L!VE IN</h1></div>
      <div class="row mx-auto">
       <div class="col-xs-3 mx-auto"><span id="days"></span>days</div>
       <div class="col-xs-3 mx-auto"><span id="hours"></span>Hours</div>
       <div class="col-xs-3 mx-auto"><span id="minutes"></span>Minutes</div>
       <div class="col-xs-3 mx-auto"><span id="seconds"></span>Seconds</div>
      </div>

     <div class=" button_reg text-center">
      <a href="" data-toggle="modal" data-target="#modalRegisterForm"><button class="last_bt ">Get Started</button></a>
      <a href="" data-toggle="modal" data-target="#modalRegisterForm"><button class="last_bt ">Log In</button></a>
     </div>
      <div ><a href="" id="agenda" class="last_bt"> Agenda </a></div>



  <div class="modal fade centered-modal" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
     <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <article class="card-body mx-auto" style="max-width: 400px;">
      <form>
	     <div class="form-group input-group">
		    <div class="input-group-prepend">
		     <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		    </div>
        <input name="" class="form-control" placeholder="Full name" type="text">
      </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email address" type="email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+971</option>
		    <option value="1">+972</option>
		    <option value="2">+198</option>
		    <option value="3">+701</option>
		</select>
    	<input name="" class="form-control" placeholder="Phone number" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control">
			<option selected=""> Select job type</option>
			<option>Designer</option>
			<option>Manager</option>
			<option>Accaunting</option>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Have an account? <a href="">Log In</a> </p>
</form>
</article>

   </div>
  </div>
  </div>
</div>

</div>


</div>
