#bg{
  background-color:#602e8d;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content:center;
  align-content:center ;
  overflow-y:auto;
  

}


#form-login{
  position: absolute;
  top:30%;
  

}



label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:white;
  width:100px;
}

input[type=submit] {
  background-color: #fbe96a;
  color: #602e8d;
  padding:10px 20px;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:auto;
}

label[for=agmt]{
  width:300px;
}

img{
  width:300px;
  height:83px;
  position: relative;
  top:10vh;
}


#footer{
  background-image: linear-gradient(to right,#e9c33c,#c97404,#f2cb48,#d6800f,#f7d360);
  height:7vh;
  
}

@media(max-width:990px){
  #form-login{
    margin:auto;
  }
  label{
    display: inline-block;
    margin:0px;
    padding:0px ;
  }

  .row{
    margin:10px;
  }

  input[type=text]{
    margin:0;
    width:90%;
  }
  input[type=email]{
    margin:0;
    width:90%;
  }
  input[type=password]{
    margin:0;
    width:90%;
  }
  input[type=submit]{
    margin:auto;
  }
}

/* Clear floats after the columns */